{% extends 'layout.html' %}

{% block titulo %} Pacientes - Superadmin {% endblock %}
{% block usuario %} Pacientes {% endblock %}

{% block body %}
<!-- ************************ indicators board ************************ -->

<div class="home-content patients">


    <!-- ************************ table patients database ************************ -->

    <div class="patients-boxes">
        <div class="recent-patients box">
            <div class="title">Administrar Base de Datos de Pacientes</div>
            <!-- <div class="button-add-patient">Crear nuevo paciente</div> -->
            <div class="button">
                <a href="#" class="button-add"><i class="fa fa-user-plus"></i>Crear nuevo paciente</a>
            </div>
            <div class="patients-details">

                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Número contacto</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P0001</th>
                            <td>Rollin Farrel</td>
                            <td style="text-align: right;">rfarrel@user.de</td>
                            <td>Lake Matilde, Tennessee 74062, United States of America</td>
                            <td>(699) 824-5724</td>
                            <td>
                                <div class="actions">
                                    <!-- <div class="edit"> -->
                                        <i class='bx bx-edit-alt'></i>                                        
                                        <!-- <span class="edit">Editar</span> -->
                                    <!-- </div> -->
                                    <!-- <div class="delete"> -->
                                        <i class='bx bxs-trash'></i>
                                        <!-- <span class="edit">Eliminar</span> -->
                                    <!-- </div> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">P0002</th>
                            <td>Lera Stroman</td>
                            <td style="text-align: right;">lstromanl@user.de</td>
                            <td>Lake Matilde, Tennessee 74062, United States of America</td>
                            <td>(699) 824-5724</td>
                            <td>
                                <div class="actions">                                    
                                        <i class='bx bx-edit-alt'></i>   
                                        <i class='bx bxs-trash'></i>                                        
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">P0003</th>
                            <td>Adan Schiller</td>
                            <td style="text-align: right;">aschillerl@user.de</td>
                            <td>Lake Matilde, Tennessee 74062, United States of America</td>
                            <td>(699) 824-5724</td>
                            <td>
                                <div class="actions">                                    
                                        <i class='bx bx-edit-alt'></i>   
                                        <i class='bx bxs-trash'></i>                                        
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">P0004</th>
                            <td>Holga Perez</td>
                            <td style="text-align: right;">hperez@user.de</td>
                            <td>Lake Matilde, Tennessee 74062, United States of America</td>
                            <td>(699) 824-5724</td>
                            <td>
                                <div class="actions">                                    
                                        <i class='bx bx-edit-alt'></i>   
                                        <i class='bx bxs-trash'></i>                                        
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">P0005</th>
                            <td>Herman Lopez</td>
                            <td style="text-align: right;">hlopezl@user.de</td>
                            <td>Lake Matilde, Tennessee 74062, United States of America</td>
                            <td>(699) 824-5724</td>
                            <td>
                                <div class="actions">                                    
                                        <i class='bx bx-edit-alt'></i>   
                                        <i class='bx bxs-trash'></i>                                        
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">P0006</th>
                            <td>Jesus Moreno</td>
                            <td style="text-align: right;">jmoreno@user.de</td>
                            <td>Lake Matilde, Tennessee 74062, United States of America</td>
                            <td>(699) 824-5724</td>
                            <td>
                                <div class="actions">                                    
                                        <i class='bx bx-edit-alt'></i>   
                                        <i class='bx bxs-trash'></i>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button">
                <a href="#">See All</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}