{% extends 'layout.html' %}

{% block titulo %} Citas - Superadmin {% endblock %}
{% block usuario %} Citas {% endblock %}

{% block body %}
<!-- ************************ indicators board ************************ -->

<div class="home-content patients">


    <!-- ************************ table patients database ************************ -->

    <div class="patients-boxes">
        <div class="recent-patients box">
            <div class="title">Administrar Citas</div>            
            <div class="patients-details">

                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Nombre del doctor</th>
                            <th scope="col">Nombre del paciente</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in row %}
                            <tr>
                                <th scope="row">{{ r["ID"] }}</th>
                                <th scope="row">{{ r["Hora"] }}</th>
                                <td>{{ r["Nombre_doctor"] }}</td>
                                <td>{{ r["Nombre_paciente"] }}</td>
                                <td>{{ r["Tipo"] }}</td>
                                <td>{{ r["Direccion"] }}</td>
                                <td>{{ r["Fecha"] }}</td>
                                <td>
                                    <div class="actions">
                                        <a href="{{url_for('detallespaciente')}}"><i class='bx bx-edit-alt'></i></a>
                                        <i class='bx bxs-trash' sql="DELETE FROM estudiantes WHERE r"></i>
                                        <a href="{{url_for('vista')}}"><i class='bx bx-info-circle'></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
            <!-- <div class="button">
                <a href="#">See All</a>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}