{% extends 'layoutmedico.html' %}

{% block titulo %} Pacientes - Detalles {% endblock %}
{% block usuario %} Detalles de cita {% endblock %}

{% block body %}

{% block span2 %} Holga Perez {% endblock %}



<div class="home-content patients">


    <!-- ************************ table patients database ************************ -->

    <div class="patients-boxes">
        <div class="recent-patients box">
            <div class="title">DETALLES DE CITA</div>
            <!-- <div class="button-add-patient">Crear nuevo paciente</div> -->
            <div class="patients-details">
                    <form>
                        
                        <h4>
                        <legend>Formulario de creacion cita</legend><br>
                        <a><input type="text" id="Identidad" name="Identidad" placeholder="ID" class="formulario"></a><br>
                        <a>Hora:<input type="text" id="Fecha" name="hora" class="formulario" placeholder="00:00 AM/PM"></a><br>

                        <a><input type="text" id="Medico" name="Nombre_doctor" placeholder="Nombre del doctor" class="formulario"></a><br>
                        <a><input type="text" id="Paciente" name="Nombre_paciente"  placeholder="Ingrese su nombre" class="formulario"></a><br>
                        <a><input type="text" id="Sede" name="cita" placeholder="Tipo cita" class="formulario"></a><br>
                        
                        
                        
                            

                        <hr><br>

                        
                        <a>Direccion: <input type="text" id="Direccion" name="Direccion" placeholder="Ingrese su Direccion"  class="formulario"></a><br>
                        <a>Fecha:<input type="text" id="Fecha" name="fecha" class="formulario" placeholder="00/00/0000"></a><br>
  
                        <hr><br>

                        <div style="width:500px;">
                            <input type="submit" class="form_botonL" value="Guardar">
                            <input type="submit" class="form_botonL"  value="Eliminar">
                        </div>
                    </h4>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}