{% extends 'layout.html' %}

{% block titulo %} Médicos - Superadmin {% endblock %}
{% block usuario %} Médicos {% endblock %}

{% block body %}
<!-- ************************ indicators board ************************ -->

<div class="home-content patients">


    <!-- ************************ table doctors database ************************ -->

    <div class="patients-boxes">
        <div class="recent-patients box">
            <div class="title">Administrar Base de Datos de Médicos</div>            
            <div class="button">
                <a href="#" class="button-add"><i class="fa fa-user-plus"></i>Crear nuevo médico</a>
            </div>
            <div class="patients-details">

                <table id="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Fecha nac.</th>
                            <th scope="col">Género</th>
                            <th scope="col">Email</th>
                            <th scope="col">Residencia</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Tipo usuario</th>
                            <!-- <th scope="col">Fecha</th> -->
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>

                        {% for r in row %}
                        <tr>
                            <th scope="row">{{ r["Documento"] }}</th>
                            <td>{{ r["Nombre"] }}</td>
                            <td>{{ r["Apellido"] }}</td>
                            <td>{{ r["Fecha_nac"] }}</td>
                            <td>{{ r["Genero"] }}</td>
                            <td>{{ r["Email"] }}</td>
                            <td>{{ r["Residencia"] }}</td>
                            <td>{{ r["Ciudad"] }}</td>
                            <td>{{ r["Telefono"] }}</td>
                            <td>{{ r["Tipo_usuario"] }}</td>
                            
                            <td>
                            <div class="actions">                                    
                                <a href="{{url_for('detallespaciente')}}"><i class='bx bx-edit-alt'></i></a>                                                                                
                                    <i class='bx bxs-trash' sql="DELETE FROM estudiantes WHERE r"></i>
                                <a href="{{url_for('vista')}}" ><i class='bx bx-info-circle'></i></a>                                        
                            </div>
                            </td>
                        </tr>
                    {% endfor%}                        
                    </tbody>
                </table>
            </div>
            <!-- <div class="button">
                <a href="#">See All</a>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}