{% extends "layout_ppal.html" %} {% block content %}


<div id="page-wrapper">


    <!-- Header -->
    <header id="header">
        <div class="logo container">
            <div>
                <img src="static/images/logo.png" alt="logo" width="180px" height="120px" /><br>
                <h1><a href="index.html" id="logo">System Salud</a></h1><br>
                <p>GESTIÓN DE CITAS</p>
            </div>
        </div>
    </header>

    <!-- Nav -->


    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <h2>Bienvenido</h2>
            <p>Ahora agendar tus citas a sólo un paso</p>
            <a href="#main" class="button scrolly">Conoce nuestros servicios</a>
        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">

                    <!-- Highlight -->
                    <section class="box highlight">
                        <ul class="special">
                            <li><a href="#" class="icon solid fa-search"><span class="label">Magnifier</span></a></li>
                            <li><a href="#" class="icon solid fa-tablet-alt"><span class="label">Tablet</span></a></li>
                            <li><a href="#" class="icon solid fa-flask"><span class="label">Flask</span></a></li>
                            <li><a href="#" class="icon solid fa-cog"><span class="label">Cog?</span></a></li>
                        </ul>
                        <header>
                            <h2>Nuestros servicios</h2>
                            <p>Porgrama tu cita</p>
                        </header>
                        <p>
                            Realiza los siguientes pasos para programar tu cita médica en System Salud.
                        </p>
                    </section>

                </div>
                <div class="col-12">

                    <!-- Features -->
                    <section class="box features">
                        <h2 class="major"><span>Programar tu cita es fácil</span></h2>
                        <div>
                            <div class="row">
                                <div class="col-3 col-6-medium col-12-small">

                                    <!-- Feature -->
                                    <section class="box feature">
                                        <!--<img type="static/images" src="{{url_for('static', filename='pic01.jpg')}}" />-->
                                        <a href="#" class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
                                        <h3><a href="#">Paso 1</a></h3>
                                        <p>
                                            Inicialmente debe registrar sus datos principales aquí, para obtener una usuario de acceso a nuestro sistema.
                                        </p>
                                    </section>

                                </div>
                                <div class="col-3 col-6-medium col-12-small">

                                    <!-- Feature -->
                                    <section class="box feature">
                                        <a href="#" class="image featured"><img src="static/images/pic02.jpg" alt="" /></a>
                                        <h3><a href="#">Paso 2</a></h3>
                                        <p>
                                            Si Ud ya cuenta con unas credenciales de acceso (nombre de usuario) a nuestro sistema,favor iniciar sesión mediente el botón "Log in" en menú superior de esta ventana.
                                        </p>
                                    </section>

                                </div>
                                <div class="col-3 col-6-medium col-12-small">

                                    <!-- Feature -->
                                    <section class="box feature">
                                        <a href="#" class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
                                        <h3><a href="#">Paso 3</a></h3>
                                        <p>
                                            Agende según el servicio requerido o especialidad de nuestros médicos la cita disponible.
                                        </p>
                                    </section>

                                </div>
                                <div class="col-3 col-6-medium col-12-small">

                                    <!-- Feature -->
                                    <section class="box feature">
                                        <a href="#" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
                                        <h3><a href="#">Paso 4</a></h3>
                                        <p>
                                            Gestione su lista de citas. Ud podrá solicitar o cancelar una cita médica.
                                        </p>
                                    </section>

                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><a href="#" class="button large">Pogramar cita</a></li>
                                        <li>
                                            <a href="#" class="button alt large">Leer ayuda</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-12">

                    <!-- Blog -->
                    <section class="box blog">
                        <h2 class="major"><span>Otra información</span></h2>
                        <div>
                            <div class="row">
                                <div class="col-9 col-12-medium">
                                    <div class="content">

                                        <!-- Featured Post -->
                                        <article class="box post">
                                            <header>
                                                <h3><a href="#">Here's a really big heading</a></h3>
                                                <p>With a smaller subtitle that attempts to elaborate</p>
                                                <ul class="meta">
                                                    <li class="icon fa-clock">15 minutes ago</li>
                                                    <li class="icon fa-comments"><a href="#">8</a></li>
                                                </ul>
                                            </header>
                                            <a href="#" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
                                            <p>
                                                Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in lectus. Praesent semper mod quis eget mi. Etiam sed ante risus aliquam erat et volutpat. Praesent a dapibus velit. Curabitur sed nisi nunc, accumsan vestibulum lectus. Lorem ipsum dolor
                                                sit non aliquet sed, tempor et dolor. Praesent a dapibus velit. Curabitur accumsan.
                                            </p>
                                            <a href="#" class="button">Continue Reading</a>
                                        </article>

                                    </div>
                                </div>
                                <div class="col-3 col-12-medium">
                                    <div class="sidebar">

                                        <!-- Archives -->
                                        <ul class="divided">
                                            <li>
                                                <article class="box post-summary">
                                                    <h3><a href="#">A Subheading</a></h3>
                                                    <ul class="meta">
                                                        <li class="icon fa-clock">6 hours ago</li>
                                                        <li class="icon fa-comments"><a href="#">34</a></li>
                                                    </ul>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="box post-summary">
                                                    <h3><a href="#">Another Subheading</a></h3>
                                                    <ul class="meta">
                                                        <li class="icon fa-clock">9 hours ago</li>
                                                        <li class="icon fa-comments"><a href="#">27</a></li>
                                                    </ul>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="box post-summary">
                                                    <h3><a href="#">And Another</a></h3>
                                                    <ul class="meta">
                                                        <li class="icon fa-clock">Yesterday</li>
                                                        <li class="icon fa-comments"><a href="#">184</a></li>
                                                    </ul>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="box post-summary">
                                                    <h3><a href="#">And Another</a></h3>
                                                    <ul class="meta">
                                                        <li class="icon fa-clock">2 days ago</li>
                                                        <li class="icon fa-comments"><a href="#">286</a></li>
                                                    </ul>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="box post-summary">
                                                    <h3><a href="#">And One More</a></h3>
                                                    <ul class="meta">
                                                        <li class="icon fa-clock">3 days ago</li>
                                                        <li class="icon fa-comments"><a href="#">8,086</a></li>
                                                    </ul>
                                                </article>
                                            </li>
                                        </ul>
                                        <a href="#" class="button alt">Archives</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">

                    <!-- About -->
                    <section>
                        <h2 class="major"><span>Acerca de nuestra clínica</span></h2>
                        <p>
                            La aplicación <strong>System Salud</strong> ahora le facilita agendar sus citas medicascon nuestros médicosy especialistas de la
                            <a href="http://twitter.com/ajlkn">CLINICA REINA CATALINA.</a> Recuerda<a href="http://html5up.net">iniciar sesión</a>.Descrpción
                            <a href="http://html5up.net/license/">Reseña histórica </a> ... ubicada en el sur del país:)
                        </p>
                    </section>

                </div>
                <div class="col-12">

                    <!-- Contact -->
                    <section>
                        <h2 class="major"><span>Contáctanos</span></h2>
                        <ul class="contact">
                            <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                            <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                            <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                            <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                            <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
                        </ul>
                    </section>

                </div>
            </div>

            <!-- Copyright -->
            <div id="copyright">
                <ul class="menu">
                    <li>&copy; Untitled. All rights reserved</li>
                    <li>Design: <a href="http://html5up.net">Equipo 5 - Misión TIC 2022</a></li>
                </ul>
            </div>

        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.dropotron.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>

<!-- <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> -->

{% endblock%}