{% extends 'layout.html' %}

{% block titulo %} Dashboard - Superadmin {% endblock %}
{% block usuario %} Dashboard {% endblock %}

{% block body %}
<!-- ************************ indicators board ************************ -->

<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Pacientes</div>
                <div class="number">1,172</div>
            </div>
            <!-- <i class='bx bx-user-pin patient'></i> -->
            <i class="fa fa-user"></i>

        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Médicos</div>
                <div class="number">196</div>
            </div>
            <!-- <i class='bx bxs-user-pin doctor'></i> -->
            <i class="fa fa-user-md"></i>

        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Citas Programadas</div>
                <div class="number">386</div>
            </div>
            <!-- <i class='bx bx-message-alt-check citas_programadas'></i> -->
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box-topic">Total Citas Canceladas</div>
                <div class="number">106</div>
            </div>
            <!-- <i class='bx bx-message-alt-x citas_canceladas'></i> -->
            <i class="fa fa-times-circle"></i>
        </div>
    </div>

    <!-- ************************ table patients and medical specialties ************************ -->

    <div class="patients-boxes">
        <div class="recent-patients box">
            <!-- <div class="title">Pacientes por Especialidad Médica</div> -->
            <div class="title">Base de Datos - Usuarios</div>
            <div class="patients-details">

                <table id="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Fecha nac.</th>
                            <th scope="col">Género</th>
                            <th scope="col">Email</th>
                            <th scope="col">Residencia</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Tipo usuario</th>
                            <!-- <th scope="col">Fecha</th> -->
                            <!-- <th scope="col">Acciones</th> -->

                        </tr>
                    </thead>
                    <tbody>

                        {% for r in row %}
                        <tr>
                            <th scope="row">{{ r["Documento"] }}</th>
                            <td>{{ r["Nombre"] }}</td>
                            <td>{{ r["Apellido"] }}</td>
                            <td>{{ r["Fecha_nac"] }}</td>
                            <td>{{ r["Genero"] }}</td>
                            <td>{{ r["Email"] }}</td>
                            <td>{{ r["Residencia"] }}</td>
                            <td>{{ r["Ciudad"] }}</td>
                            <td>{{ r["Telefono"] }}</td>
                            <td>{{ r["Tipo_usuario"] }}</td>
                            
                            <!-- <td>
                            <div class="actions">                                    
                                <a href="{{url_for('detallespaciente')}}"><i class='bx bx-edit-alt'></i></a>                                                                                
                                    <i class='bx bxs-trash' sql="DELETE FROM estudiantes WHERE r"></i>
                                <a href="{{url_for('vista')}}" ><i class='bx bx-info-circle'></i></a>                                        
                            </div>
                            </td> -->
                        </tr>
                    {% endfor%}


                        <!-- <tr>
                            <th scope="row">001</th>
                            <td>Cirugía</td>
                            <td style="text-align: right;">190</td>
                        </tr>
                        <tr>
                            <th scope="row">002</th>
                            <td>Oncología</td>
                            <td style="text-align: right;">123</td>
                        </tr>
                        <tr>
                            <th scope="row">003</th>
                            <td>Odontología</td>
                            <td style="text-align: right;">351</td>
                        </tr>
                        <tr>
                            <th scope="row">004</th>
                            <td>Ginecología</td>
                            <td style="text-align: right;">450</td>
                        </tr>
                        <tr>
                            <th scope="row">005</th>
                            <td>Dermatología</td>
                            <td style="text-align: right;">99</td>
                        </tr>
                        <tr>
                            <th scope="row">006</th>
                            <td>Neurología</td>
                            <td style="text-align: right;">53</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <!-- <div class="button">
                <a href="#">See All</a>
            </div> -->
        </div>

        <!-- ************************ Star rating ************************ -->
        <div class="rating-box">
            <div class="title">Promedio calificación citas</div>
            <div class="rating-details">
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="description">4.0/5.0</div>

        </div>
    </div>
</div>
{% endblock %}