{% extends "layout_ppal.html" %} {% block body %}

<h1 style="font-size: 50px;" class="texto"> HAS INICIADO SESIÓN</h1>

<p>Tipo de usuario: {{tipo_user}}</p>
<p>Nombre: {{name}}</p>
<p>Email: {{email}}</p>
<p>Genero: {{gen}}</p>

<a href="/logout"><input type="button" value="Logout" name="Logout" id="Logout"></a>
<script>
    let btn = document.getElementById("Logout")

    btn.addEventListener("click", cerrar)

    function cerrar() {
        alert("Cerrando sesión...")
    }
</script>
{% endblock %}