{% extends "layout_ppal.html" %} {% block content %}
<div class="form_login">
    <form action="/login" method="POST">
        <div class="sesion">
            <h4 style="font-size: 40px;">Iniciar sesión</h4>
        </div>
        <div class="input_text">
            <ul> <input class="textfield" type="text" name="username" placeholder="ingresa tu usuario"></ul>
            <ul> <input class="textfield" type="password" name="password" placeholder="ingresa tu contraseña"></ul>
            <ul> <input class="boton" type="submit" value="Iniciar sesión"></ul>
            <h1 style="font-size: 20px;">¿No tienes una cuenta?</h1>
            <a style="font-size: 20px;" href="/register"> Registrarte</a>
        </div>

    </form>

</div>

{% endblock %}