{%extends "layoutpaciente.html "%}
{% block titulo %} Paciente - Detalles {% endblock %}
{% block usuario %} Perfil: {{name}} {{apell}} {% endblock %}

{% block body %}

{% block span %} Paciente {% endblock %}
{% block span2 %} {{name}} {{apell}} {% endblock %}
<div class="patients-boxes">
    <div class="recent-patients box">
        <div class="title">Administrar Base de Datos de Médicos</div>
        <div class="patients-details">


            <center>
                <br><br><br>
                <div class="circulo">
                    

                    <img src="/static/images/usuario.png" class="dos">
                    <!--si fuese el caso que la imagenes estan en otra carpeta debes poner
        el nombre de la carpeta/el nombre de la imagen-->

                </div>

            </center>

            <!--el comando sections sirve para almacenar informacion principal-->
            <!--article ayuda a detallar y separar -->
            <center>
                <br>
                <div class="informacion">
                    <section>
                        <article>
                            <h3 >{{name}} {{apell}}</h3>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>Telefono:</h3>
                            <p>{{tel}}</p>
                            <hr class="hr">
                        </article>
                    
                        <article r>
                            <h3>I.D:</h3>
                            <p>{{ciu}}</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>Ciudad</h3>
                            <p>{{docum}}</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>ubicacion</h3>
                            <p>{{resid}}</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>sexo</h3>
                            <p>{{gen}}</p>
                        </article>

                        
                        
                    </section>

                    

                </div>
            </center>
        </div>
    </div>
    {% endblock %}