{%extends "layoutmedico.html "%}
{% block titulo %} Medico - Detalles {% endblock %}
{% block usuario %} Perfil: {{name}} {{apell}} {% endblock %}

{% block body %}

{% block span2 %} {{name}} {{apell}} {% endblock %}

    


            <center>
                <br><br><br><br>
                <div class="circulo">
                

                    <img src="/static/images/usuario.png" class="dos">
                    <!--si fuese el caso que la imagenes estan en otra carpeta debes poner
        el nombre de la carpeta/el nombre de la imagen-->

                </div>

            </center>
            <br><br>

            <!--el comando sections sirve para almacenar informacion principal-->
            <!--article ayuda a detallar y separar -->
            <center>
                <div class="informacion">
                    <section>
                        <article>
                            <h3 >{{name}} {{apell}}</h3>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>Telefono:</h3>
                            <p>{{tel}}</p>
                            <hr class="hr">
                        </article>
                    
                        <article r>
                            <h3>I.D:</h3>
                            <p>{{ciu}}</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>Ciudad</h3>
                            <p>{{docum}}</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>ubicacion</h3>
                            <p>{{resid}}</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>sexo</h3>
                            <p>{{gen}}</p>
                        </article>


                    </section>

                </div>
            </center>
        
    
    {% endblock %}