{%extends "layoutpaciente.html "%}
{% block titulo %} Pacientes - Detalles {% endblock %}
{% block usuario %} Detalles del paciente {% endblock %}

{% block body %}

{% block span %} Paciente {% endblock %}
{% block span2 %} Holga Perez {% endblock %}
<div class="patients-boxes">
    <div class="recent-patients box">
        <div class="title">Administrar Base de Datos de Médicos</div>
        <div class="patients-details">


            <center>
                <br><br><br>
                <div class="circulo">
                    

                    <img src="/static/images/usuario.png" class="dos">
                    <!--si fuese el caso que la imagenes estan en otra carpeta debes poner
        el nombre de la carpeta/el nombre de la imagen-->

                </div>

            </center>

            <!--el comando sections sirve para almacenar informacion principal-->
            <!--article ayuda a detallar y separar -->
            <center>
                <br>
                <div class="informacion">
                    <section>
                        <article>
                            <h3 >ramon</h3>
                            <hr class="hr">
                        </article>
                        <article >
                            <h3>Celular:</h3>
                            <p>3567813245</p>
                            <hr class="hr">
                        </article>
                    
                        <article r>
                            <h3>I.D:</h3>
                            <p>1.116.350.742</p>
                            <hr class="hr">
                        </article>
                        <article >
                            <h3>Ciudad</h3>
                            <p>Medellin</p>
                            <hr class="hr">
                        </article>
                        <article >
                            <h3>ubicacion</h3>
                            <p>calle43d #33-50</p>
                            <hr class="hr">
                        </article>
                        <article>
                            <h3>sexo</h3>
                            <p>Masculino</p>
                            
                        </article>
                        
                        
                    </section>

                    

                </div>
            </center>
        </div>
    </div>
    {% endblock %}