{% extends 'menu.html' %}

{% block titulo %} Pacientes {% endblock %}
{% block usuario %} Pacientes {% endblock %}

{% block body %}
<div class="home-content patients">

    <div class="patients-boxes">
        <div class="recent-patients box">
            <div class="title">Resultados</div>
            <div class="patients-details">

                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Citas pasadas</th>
                            <th scope="col">Citas proximas</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">04/05/21 - 10:00 AM</th>
                            <td>19/10/21- 8:00 AM</td>
                            <td>
                                <div class="actions">
                                    <i class='bx bx-edit-alt'></i>
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">09/10/2021- 7:00 AM</th>
                            <td>31/10/2021- 8:00 AM</td>
                            <td>
                                <div class="actions">
                                    <i class='bx bx-edit-alt'></i>
                                    <i class='bx bxs-trash'></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">20/09/21- 3:00 PM</th>
                            <td>21/10/21- 2:00 PM</td>
                            <td>
                                <div class="actions">
                                    <i class='bx bx-edit-alt'></i>
                                    <i class='bx bxs-trash'></i>
                        </tr>
                        <!-- <tr> -->
                    </table>
            </div>
            <div class="button">
                <a href="#">next</a>
            </div>
        </div>
        
    </div>
  
</div>
{% endblock %}