{% extends 'layoutmedico.html' %}

{% block titulo %} Pacientes - Detalles {% endblock %}
{% block usuario %} Detalles de cita {% endblock %}

{% block body %}

{% block span2 %} Holga Perez {% endblock %}



<div class="home-content patients">


    <!-- ************************ table patients database ************************ -->

    <div class="patients-boxes">
        <div class="recent-patients box">
            <div class="title">DETALLES DE CITA</div>
            <!-- <div class="button-add-patient">Crear nuevo paciente</div> -->
            <div class="patients-details">
                    <form>
                        <h4>
                        <legend>Formulario de creacion cita</legend><br>
                        <a>Nombre Doctor: <input type="text" id="Medico" name="Nombre" placeholder="Nombre del doctor" class="formulario" readonly onmousedown="return false;"></a><br>
                        <a>Sede: <input type="text" id="Sede" name="Nombre" placeholder="Nombre de la Sede" class="formulario" readonly onmousedown="return false;"></a><br>
                        <a>Nombre Paciente: <input type="text" id="Paciente" name="Nombre"  placeholder="Ingrese su nombre" class="formulario" readonly onmousedown="return false;"></a><br>
                        <a>Documento de Identidad: <input type="text" id="DocIdentidad" name="Nombre" placeholder="Doc Identidad" class="formulario" readonly onmousedown="return false;"></a><br>
                        <a>Tipo de Documento Identidad: 
                            <select id="Tipo" name="doc" class="formulario" readonly onmousedown="return false;">
                                <option>option1</option>
                                <option>option2</option>
                                <option>option3</option>
                            </select>
                            <br>

                        <hr><br>

                        <a>Fecha y Hora: <input type="datetime-local" id="Fecha" name="Nombre" class="formulario" readonly onmousedown="return false;"></a><br>
                        
                        <a>Direccion: <input type="text" id="Direccion" placeholder="Ingrese su Direccion" name="Nombre" class="formulario" readonly onmousedown="return false;"></a><br>

                        <hr><br>

                        <div style="width:500px;">
                            <input type="submit" class="msgBtn"  value="Guardar">
                            <input type="submit" class="msgBtn2" value="Eliminar">
                        </div>
                    </h4>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}